body
{overflow-y: hidden !important;
    overflow-x: hidden;

}


.mat-sidenav1
{
    float: left; 
    height: 100%; background-color: #E8E6E6 ; width: 300px;
}
a:link
{
    text-decoration: none;

}
.mat-sidenav2
{
    float:left; margin-left: 150px; margin-top: 20px;
}
